<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Card</title>
</head>
<body>
    <h2>Add a Card inside Deck : {{deckname}}</h2>
    <form action="/addcard/{{deckname}}" method="post">
        <label for="">Deck Name</label>
        <input type="text" value="{{deckname}}" name="deckname" readonly>
        <label for="">Front</label>
        <input type="text" name="front">
        <label for="">Back</label>
        <input type="text" name="back">
        <input type="submit" value="Add Card">
    </form>
</body>
</html>